body{
    background-color: black;
}
.robot
{
    height: 500px;
    margin: auto;
    border: 2px solid red;
    background-color: black;
}
.head
{
    width: 120px;
    height: 90px;
    margin: auto;
    position: relative;
    margin-top: 5%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: rgb(56, 255, 6);
    transition: width 1s ease;
}
.robot:hover .head{
    width: 25px;
    animation: movehead 1s infinite;
}
@keyframes movehead{
    0%{
        width: 105px;
    }
    25%{
        width: 120px;
    }
    50%{
        width: 105px;
    }
    75%{
        width: 120px;
    }
    100%
    {
        width: 105px;
    }
}
.eyes{
    display: flex;
    width: 180px;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 63px;
    margin-left: -35px;
}
#leye{
    height: 12px;
    width: 12px;
    background-color:black;
    border-radius: 50%;
    transition: height 1s ease;
}
.robot:hover #leye{
    height: 25px;
    animation: moveleye 1s infinite;
}
@keyframes moveleye{
    0%{
        height: 14px;
    }
    25%{
        height: 5px;
    }
    50%{
        height: 14px;
    }
    75%{
        height: 5px;
    }
    100%
    {
        height: 14px;
    }
}

#reye{
    height: 12px;
    width: 12px;
    background-color:black;
    border-radius: 50%;
    transition: height 1s ease;
}
.robot:hover #reye{
    height: 25px;
    animation: movereye 1s infinite;
}
@keyframes movereye{
    0%{
        height: 14px;
    }
    25%{
        height: 5px;
    }
    50%{
        height: 14px;
    }
    75%{
        height: 5px;
    }
    100%
    {
        height: 14px;
    }
}
.body
{
    width: 200px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
    margin-top: 10px;

}
.larm{
    height: 65px;
    width: 20px;
    background-color: chartreuse;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 1s ease;
}
.robot:hover .larm
{
    transform: rotate(75deg);
    transform-origin: top center;
    animation: movelarm 1s infinite;
}
@keyframes movelarm
{
    0%
    {
        transform: rotate(75deg);
        transform-origin: top center;
    }
    25%
    {
        transform: rotate(0deg);
        transform-origin: top center;
    }
    50%
    {
        transform: rotate(75deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    100%
    {
        transform: rotate(75deg);
        transform-origin: top center;
    }
}
.arm{
    height: 100px;
    width: 120px;
    margin-top: 1%;
    background-color: chartreuse;
    border-radius: 0 0 50px 50px;
    transition: transform 1s ease;
}
.robot:hover .arm
{
    transform: rotate(36deg);
    transform-origin: top center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    animation: movearm 7s infinite;
}
@keyframes movearm
{
    0%
    {
        transform: rotate(360deg);
        transform-origin: center;
    }
    25%
    {
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%
    {
        transform: rotate(360deg);
        transform-origin: center;
    }
    75%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    100%
    {
        transform: rotate(360deg);
        transform-origin: center;
    }
}
.rarm{
    height: 65px;
    width: 20px;
    background-color: chartreuse;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 1s ease;
}
.robot:hover .rarm
{
    transform: rotate(75deg);
    transform-origin: top center;
    animation: moverarm 1s infinite;
}
@keyframes moverarm
{
    0%
    {
        transform: rotate(-75deg);
        transform-origin: top center;
    }
    25%
    {
        transform: rotate(0deg);
        transform-origin: top center;
    }
    50%
    {
        transform: rotate(-75deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    100%
    {
        transform: rotate(-75deg);
        transform-origin: top center;
    }
}
.legs{
    display: flex;
    width: 130px;
    margin-top: 10px;
    margin:auto;
    justify-content: space-evenly;
}
#lleg{
    height: 55px;
    width: 20px;
    background-color:rgb(56, 255, 6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 1s ease;
}
.robot:hover #lleg
{
    transform: rotate(30deg);
    transform-origin: top center;
    animation: movelleg 1s infinite;
}
@keyframes movelleg
{
    0%
    {
        transform: rotate(60deg);
        transform-origin: top center;
    }
    25%
    {
        transform: rotate(0deg);
        transform-origin: top center;
    }
    50%
    {
        transform: rotate(60deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    100%
    {
        transform: rotate(60deg);
        transform-origin: top center;
    }
}
#rleg{
    height: 55px;
    width: 20px;
    background-color:rgb(56, 255, 6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 1s ease;
}
.robot:hover #rleg
{
    transform: rotate(60deg);
    transform-origin: top center;
    animation: moverleg 1s infinite;
}
@keyframes moverleg
{
    0%
    {
        transform: rotate(-60deg);
        transform-origin: top center;
    }
    25%
    {
        transform: rotate(0deg);
        transform-origin: top center;
    }
    50%
    {
        transform: rotate(-60deg);
        transform-origin: top center;
    }
    75%{
        transform: rotate(0deg);
        transform-origin: top center;
    }
    100%
    {
        transform: rotate(-60deg);
        transform-origin: top center;
    }
}